<%= form_for(@cleaner) do |f| %>
  <% if @cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>

      <ul>
      <% @cleaner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :quality_score %><br>
      <%= f.text_field :quality_score %>
    </div>
    <div>
      <%= f.label "City Name" %><br />
      <%= f.collection_check_boxes :city_names_ids, CityName.all, :id, :city do |b| %>
        <div class="collection-check-box" id="checkbox">
          <%= check_box_tag "cleaner[city_names_ids[]]" %>
          <%= b.label %>
        </div>
      <% end %>
    </div><br />
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
