<%= form_for(@cleaner) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="field">
    <%= f.label :quality_score %><br>
    <%= f.text_field :quality_score %>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="field">
    <%= f.label :cities %><br>
      <% @cities.each do |city| %>
        <%= check_box_tag 'city_ids[]', city.id -%>
        <%= h city.name -%>
      <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
