<div class="form-horizontal">
<%= form_for(@cleaner) do |f| %>
  <% if @cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>

      <ul>
      <% @cleaner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :first_name , class: 'col-sm-2 control-label',  autocomplete: "off" %>
      <div class="col-sm-5">
        <%= f.text_field :first_name , class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name , class: 'col-sm-2 control-label',  autocomplete: "off" %>
      <div class="col-sm-5">
        <%= f.text_field :last_name , class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email , class: 'col-sm-2 control-label',  autocomplete: "off" %>
      <div class="col-sm-5">
        <%= f.text_field :email , class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :quality_score , class: 'col-sm-2 control-label',  autocomplete: "off" %>
      <div class="col-sm-5">
        <%= f.text_field :quality_score , class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :Cities , class: 'col-sm-2 control-label',  autocomplete: "off" %>
      <div class = "col-sm-5">
      <%= f.collection_check_boxes :city_ids, City.all, :id, :name do |b| %>
      <div class="collection_check_boxes">
      <%= b.check_box %>
      <%= b.label %>
    </div>
      <% end %>
      </div>
  </div>

  <div class="actions text-center col-sm-5">
      <%= f.submit "Create Cleaner",:class => "btn btn-primary" %>
    </div>
<% end %>
</div>
