<div class="form-horizontal">
<%= form_for(@cleaner) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-offset-2 col-sm-2 control-label"  %>
    <div class = "col-sm-5">
    <%= f.text_field :first_name, class: "form-control"  %>
  </div>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-offset-2 col-sm-2 control-label"  %>
    <div class = "col-sm-5">
    <%= f.text_field :last_name, class: "form-control"  %>
  </div>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-offset-2 col-sm-2 control-label"  %>
    <div class = "col-sm-5">
    <%= f.text_field :email, class: "form-control"  %>
  </div>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="form-group">
    <%= f.label :quality_score, class: "col-sm-offset-2 col-sm-2 control-label"  %>
    <div class = "col-sm-5">
    <%= f.text_field :quality_score, class: "form-control"  %>
  </div>
    <%= @cleaner.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="form-group">
    <%= f.label :cities, class: "col-sm-offset-2 col-sm-2 control-label"  %>
      <% @cities.each do |city| %>
        <%= check_box_tag 'city_ids[]', city.id -%>
        <%= h city.name -%>
      <% end %>
  </div>

  <div class="actions text-center col-sm-5 col-sm-offset-2">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
