<p id="notice"><%= notice %></p>

<h1>Cleaners</h1>
<hr>
<div class="ibox-tools">
  <%= link_to 'New Cleaner', new_cleaner_path , :class => 'btn btn-success btn-xs'%>
</div>

<table  class="table table-hover col-sm-5">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Quality score</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @cleaners.each do |cleaner| %>
      <tr>
        <td><%= cleaner.first_name %></td>
        <td><%= cleaner.last_name %></td>
        <td><%= cleaner.quality_score %></td>
        <td>
          <table>
            <tr>
              <td><%= link_to 'Show', cleaner %>&nbsp;&nbsp;</td>
              <td><%= link_to 'Edit', edit_cleaner_path(cleaner) %>&nbsp;&nbsp;</td>
              <td><%= link_to 'Destroy', cleaner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
