<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Listing Cleaners</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-muted">First name</th>
        <th class="text-muted">Last name</th>
        <th class="text-muted">Email</th>
        <th class="text-muted">Quality score</th>
        <th colspan="3"  class="text-muted">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cleaners.each do |cleaner| %>
        <tr>
          <td><%= cleaner.first_name %></td>
          <td><%= cleaner.last_name %></td>
          <td><%= cleaner.email %></td>
          <td><%= cleaner.quality_score %></td>
          <td><%= link_to 'Show', cleaner,:class=>'btn btn-sm' %>
          <%= link_to 'Edit', edit_cleaner_path(cleaner),:class=>'btn btn-sm' %>
          <%= link_to 'Destroy', cleaner, method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Cleaner', new_cleaner_path, :class => 'btn btn-sm btn-success text-white' %>
<div>
