<h1>Listing Bookings</h1>
<div class = "table_width">
<% if current_admin.nil? %>
  <div class = "float-right">
  <%= button_to  new_booking_path,method: :get,class: "btn btn-primary",title: 'Add New Booking' do %>
  <span class="glyphicon glyphicon-plus"></span>
  <% end %></div>
<% end %>
<table border = 2 class = "table table-bordered">
  <tr>
    <th> Customer name </th>
    <th> Cleaner name </th>
    <th> City </th>
    <th> Date And Time </th>
  </tr>
<% @bookings.each do |booking|%>
    <tr>
      <td><%= customer_name booking.customer %></td>
      <td><%= cleaner_name booking.cleaner %></td>
      <td><%= booking.city.name %></td>
      <td><%= booking_date booking.datetime %></td>
      <td><%= link_to  booking,title: ' Show Booking' do %>
        <span class="glyphicon glyphicon-eye-open"></span>
        <% end %></td>
    </tr>
<% end %>
</table>
</div>
