<%= form_for(@booking) do |f| %>
  <div class="field">
    <%= f.label :City %><br>
    <%= select_tag 'city_id',
    options_for_select(@cities.collect{ |i| [i.name, i.id]}),
    onchange: "test()" %>
  </div>

  <div class="field">
    <%= f.label :Enter_cleaning_complete_time %><br>
    <%= f.datetime_select :date %>
    <%= @booking.errors.full_messages_for(:name)[0] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
