<div class="col-xs-9">
<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>
<% if @bookings %>
<div id="content" class="col-xs-9">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Cleaner</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <%= puts @booking %>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.first_name %></td>
        <td><%= booking.cleaner.first_name %></td>
        <td><%= booking.date %></td>
        <td><%= link_to 'Show', booking,class: 'btn-link btn-sm' %>
        <%= link_to 'Edit', edit_booking_path(booking),class: 'btn-link btn-sm' %>
        <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn-link btn-sm' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
</div>
</td>