<p id="notice"><%= notice %></p>

<h1>Bookings</h1>
<div class="ibox-tools">
  <%= link_to 'New Booking', new_customer_path, :class => 'btn btn-success btn-xs'%>
</div>

<table class="table table-hover col-sm-5">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Cleaner</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.first_name %></td>
        <td><%= booking.cleaner.first_name %></td>
        <td><%= booking.date %></td>
      <td>  <table>
          <tr>
            <td><%= link_to 'Show', booking_path(booking) %>&nbsp;&nbsp;</td>
            <td><%= link_to 'Delete', booking_path(booking) , method: :delete , data: { confirm: 'Are you sure?' }%></td>
          </tr>
        </table>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
