<div class="container-fluid">
<p id="notice"><%= notice %></p>
<h1>Listing Bookings</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-muted">Customer</th>
      <th class="text-muted">Cleaner</th>
      <th class="text-muted">Date</th>
      <th class="text-muted" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.first_name %></td>
        <td><%= booking.cleaner.first_name %></td>
        <td><%= booking.date %></td>
        <td><%= link_to 'Show', booking,:class=>'btn btn-sm' %>
        <%= link_to 'Edit', edit_booking_path(booking),:class=>'btn btn-sm' %>
        <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path , :class=> 'btn btn-success btn-sm text-white'%>
</div>
