<p id="notice"><%= notice %></p>
<h2>Your Booking is here!</h2>
<p>
  <strong>Customer:</strong>
  <%= @booking.customer.first_name %>
</p>

<p>
  <strong>Cleaner:</strong>
  <%= @booking.cleaner.first_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>


<%= link_to 'New Booking', new_customer_path %>
