<%= form_for(@customer, :url => url_for(:controller => 'customers', :action => 'create'),) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
    <%= @customer.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    <%= @customer.errors.full_messages_for(:name)[0] %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
    <%= @customer.errors.full_messages_for(:name)[0] %>
  </div>

  <%= f.fields_for (:booking) do |b| %>

  <div class="field">
    <%= b.label :Enter_cleaning_complete_time %><br>
    <%= b.datetime_select :date %>
  </div>

  <div class="field">
    <%= b.label :City %><br>
    <%= select_tag 'city_id',
    options_for_select(@cities.collect{ |i| [i.name, i.id]}) %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
