<div id="content" class="col-xs-9">

<p id="notice"><%= notice %></p>
<%= form_for(@customer, html: {class: 'form-horizontal'}) do |f| %>
<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :phone_number %><br>
  <%= f.text_field :phone_number %>
</div>
<div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :date %><br>
  <%= f.date_select :date, selected: Date.today %>
</div>
<div class="field">
  <%= f.label :City %>
  <%= select_tag "city", options_for_select(City.all.collect{ |u| [u.city_name, u.id]}),{:include_blank => 'Choose a city'} %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<%= link_to 'Back', customers_path %>
</div>