<% if current_admin%>
<h1>Customer Details </h1>
<div class="table_width">
<table border=2 class="table table-bordered">
  <tr>
    <th> Name </th>
    <th> Phone_number </th>
    <th> Show </th>
  </tr>
<% @customers.each do |customer|%>
    <tr>
      <td><%= customer_name customer%></td>
      <td><%= customer.phone_number %></td>
      <td><%= link_to  customer do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
      </td>
    </tr>
<% end %>
</table>
</div>
<% else %>
<p id="notice"><%= notice %></p>
<h1>Booking Details</h1>
<div class="table_width">
  <div class="float-right">
  <%= button_to  new_booking_path,method: :get,class: "btn btn-primary",title: 'Add New Booking' do %>
  <span class="glyphicon glyphicon-plus"></span>
  <% end %></div>
<table class="table table-bordered">
  <tr>
    <th> Date And Time </th>
    <th> Cleaner name </th>
    <th> City </th>
  </tr>
  <% @bookings.each do |booking|%>
  <tr>
    <td><%= booking_date booking.datetime %></td>
    <td><%= cleaner_name booking.cleaner %></td>
    <td><%= booking.city.name %></td>
    <td><%= link_to  booking do %>
        <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
<% end %>
