<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home Work", root_path %></li>
    <% if current_admin %>
      <li><%= link_to "Customers", customers_path %></li>
      <li class="active">Customer Details</li>
    <% else %>
      <li class="active">Customer Details</li>
    <% end %>
  </ol>
  <% if notice.present?  %>
    <div class="alert alert-success" role="alert" id="notice"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="jumbotron">
    <strong><h2>Customer Details</h2></strong><br>

    <p>
      <strong>First name:</strong>
      <%= @customer.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @customer.last_name %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= @customer.phone_number %>
    </p>

  </div>
</div>
