<% if notice %>
<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<% if @bookings %>
<div id="content" class="col-xs-9">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Cleaner</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.first_name %></td>
        <td><%= booking.cleaner.first_name %></td>
        <td><%= booking.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to 'Back', new_customer_path %>
</div>
