<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if not current_admin.nil? %>
<%= link_to "Logout", destroy_admin_session_path, method: :delete %>
<%= link_to "Manage Cleaner",cleaners_path %>
<%else%>

<%= link_to "Login", new_admin_session_path %>

<%end%>
<%= yield %>

</body>
</html>
