<%if current_admin.nil? %>
<%= link_to 'Admin login', new_admin_session_path %>
<h2>Hello User!</h2>
<% else %>
<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'logout', destroy_admin_session_path , method: :delete%>
<%= link_to 'Bookings', bookings_path %>
<%= link_to 'Customers', customers_path %>
<%= link_to 'Cleaners', cleaners_path %>
<%= link_to 'City', new_city_path %>

<hr>
<% end %>
<%= yield %>
<% if flash[:notice] %>
    <%= flash[:notice] %></div>
  <% end %>
</body>
</html>
