<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if not current_admin.nil? %>
    <%= link_to "Logout", destroy_admin_session_path, class: "btn btn-default", method: :delete %>
    <%= link_to "Manage Cleaner",cleaners_path, class: "btn btn-default"  %>
    <%= link_to "Manage City",cities_path, class: "btn btn-default"  %>
  <%else%>
    <%= link_to "Admin Login", new_admin_session_path, class: "btn btn-success" %>
  <%end%>
  <%= link_to "Home",root_path, class: "btn btn-default"  %>
<br>
  <%= yield %>
</body>
</html>
